{% extends 'master.html' %}

{% block title %}- About{% endblock %}

{% block main-body %}
    <h1>About</h1>

    <h2>The blog idea</h2>
    <p>
        This blog has been put together by my partner and I as an online journal of any small, quirky or independent cinemas we visit.
        We share a dislike for dull, generic cinemas which lack both character and charm. Therefore the only real cinemas we are not going
        to write about are going to be Cineworld, Showcase, Vue and other similar multiplexes. Although we are most enthusiastic about independent
        cinemas we don't aim to exclude small chains; so long as they haven't sacrificed their character.
    </p>

    <p>
        The first independent cinema we went to was in Wanaka, New Zealand. The cinema was amazing. The seats were mismash of sofas, the back of a
        VW Beetle and lots of other random chairs. There was an interval during which you could claim your pre-ordered pizza and grab yourself another
        bottle of locally brewed beer. This was our sort of place. We'll get around to retro-blogging about this one at some point but since then
        we've enjoyed visiting numerous other small cinemas in the UK and now we've started this blog we'll try to get round as many as possible.
    </p>

    <h2>What are write about</h2>
    <p>
        We are not critics. We don't aim to pick fault in any place we go, although we are always honest in what we write. To a degree we hope that
        any post we write might potentially spur somebody to visit one of these cinemas. The reason we don't give any measurable ratings to these
        posts is because that would go against the point of the blog.
    </p>

    <h2>The authors</h2>
    <p>
        My name is David Neale and I'm a <a href="http://www.robin-tech.co.uk/">freelance web application developer</a>. I clearly enjoy watching films and also enjoy travelling, playing guitar,
        cycling and hiking. I enjoy all films but mostly appreciate quirky comedies, period pieces and sci-fi.
    </p>
    <p>
        My name is Nixy May and I haven't written anything to put here yet.
    </p>
{% endblock %}