{% extends 'master.html' %}

{% block main-body %}
    <h1>Films on stage blog - a tour around independent cinemas</h1>

    <p>Thank you for visiting the Films On Stage site. This site has been created as a record of our experiences visiting
    independent cinemas around the UK.</p>

    <h2>Recent entries</h2>

    <div class="grid_10" id="blog-headers">
        <div class="blog-header">
            22nd July 2012: <a href="{% url 4u-fishguard %}">4U at Theatr Gwaun, Fishguard</a>
        </div>
    </div>

{% endblock %}