{% extends 'master.html' %}

{% block main-body %}
    <h1>Films on stage blog - a tour around independent cinemas</h1>

    <p>Thank you for visiting the Films On Stage site. This site has been created as a record of our experiences visiting
    independent cinemas around the UK.</p>

    <h2>Recent entries</h2>

    <ol class="blog-snippets">
        {% for node in nodes.by_date_desc %}
            <li class="clearfix">
                <div>
                    <span class="blog-date">{{ node.datestamp|date }}</span>
                    <h3 class="title">
                        <a href="{{ node.href }}">{{ node.title }}<span class="link-mask"></span></a>
                    </h3>
                </div>
                <div class="snippet-thumbnail">
                    <img src="{{ node.thumbnail }}" alt="Image of {{ node.title }}" />
                </div>
                    <p class="snippet">
                        {{ node.snippet|safe }}
                    </p>

            </li>

        {% endfor %}
    </ol>
{% endblock %}
