{% extends 'master.html' %}

{% block main-body %}
    <h1>Films on stage blog - a tour around independent cinemas</h1>

    <p>Thank you for visiting the Films On Stage site. This site has been created as a record of our experiences visiting
    independent cinemas around the UK.</p>

    <h2>Recent entries</h2>

    <ol class="grid_10" id="blog-headers">
        {% for node in nodes.by_date_desc %}
            <a href="{{ node.href }}" class="blog-header">
                <li>
                    <img src="{{ node.thumbnail }}" alt="Image of {{ node.title }}" class="thumbnail" />
                    {{ node.datestamp|date }}:<br />
                    {{ node.title }}
                </li>
            </a>
        {% endfor %}
    </ol>

{% endblock %}