a{
    font-family: 'Ubuntu', Tahoma, sans-serif;
}

body, html{height: 100%;  margin: 0; padding: 0;}

body{background-color: #BF3030;}

div{z-index: 1}

div#banner{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 10px;
    border-top: 1px solid #ff1016;
    background-color: #bf3030;
    padding: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#clapperboard{
    display: inline-block;
    width: 55px;
    height: 62px;
    background-image: url('/static/img/Clapperboard_set.png');
    background-position: 238px 100px;
    margin: -6px 15px -15px 0;
}

img#bg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

div#outer{
    margin-top: 1%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div#footer{
    text-align: right;
    border-top: 1px solid #ff1016;
    border-bottom: 1px solid #ff1016;
}

div#main-body{
    clear:left;
    margin-top: 15px;
}

.nav{
    border-top: 1px solid #ff1016;
    border-bottom: 1px solid #ff1016;
}

.nav ul{
    list-style-type: none;
}

.nav.top-nav li{
    float:left;
    margin: 0 10px;
}

.nav.right-nav li{
    margin: 8px 10px;
}

.nav.right-nav ul{
    margin-bottom: 0;
}

.tag{
    font-size: 14px;
    font-style: italic;
    margin-bottom: 15px;
}
blockquote{
    border-top: 1px solid #ff1016;
    border-bottom: 1px solid #ff1016;
    margin-bottom: 10px;
}

.blog-snippets .title{
    font-size: 16px;
    margin: 0;
    float:left;
}

.blog-snippets .title a{
    color: #333;
}

.blog-snippets p{
    clear: left;
}

.blog-snippets li{
    list-style: none;
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    position: relative;
}

.blog-snippets li:hover{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 15px -10px 5px 10px;
}

.blog-snippets li:first-child:hover{
    margin-bottom: -5px;
}

.blog-snippets .link-mask{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.blog-snippets a{
    text-decoration: none;
}

.blog-snippets .blog-date{
    float: right;
    margin-top: 5px;
    font-size: 12px;
}

.blog-snippets .snippet{
    width: 530px;
    padding: 0 15px 0 10px;
    border-right: 1px solid #e3e3e3;
    float: left;
}

.blog-snippets .thumbnail{
    float: right;
    margin-right: 15px;
}

.blog-post img{
    width: 400px;
    margin: 10px 0;
}
.blog-post img.vertical{
    width: 150px;
}
img.pull-left{
    margin-right: 10px;
}
img.pull-right{
    margin-left: 10px;
}
.blog-post blockquote{
    width: 400px;
    float: left;
    margin-right: 10px;
}
.thumbnail{
    width: 150px;
}