{% extends 'master.html' %}
{% load drinkstatic_tags %}

{% datestamp 2012-08-13 %}

{% block title %}- {% titletext %}4U at Theatr Gwaun, Fishguard{% endtitletext %}{% endblock %}
{% block main-body %}
    <h1>4U at Theatr Gwaun, Fishguard</h1>
    <div class="tag">A theatre at heart - but makes the perfect cinema</div>
    <div class="grid_10 alpha blog-post">
        <p>Our visit to Fishguard was fairly unplanned. We simply decided to find a cinema during a persistently rainy holiday in Pembrokeshire.
            The only options near us were <a href="http://www.palacehaverfordwest.co.uk/">The Palace</a> in Haverfordwest and 4U in Fishguard.
            4U was showing <a href="http://www.imdb.com/title/tt1748122/">Moonrise Kingdom</a> and we thought it sounded fun.
            <img src="{% thumbnail /static/img/cinemas/4u_fishguard_1.jpg %}" class="pull-right" />
        </p>

        <p>
            The first feeling we had that this cinema was something special was finding out that it is a community theatre, a charity run mainly by
            volunteers. We couldn't help but admire the initiative. In fact, it made us realise how much we enjoy visiting independent cinemas -
            we could even start writing blog entries about them!
        </p>

        <p>
            The theatre, previously known as Theatr Gwaun, used to be run by Pembrokeshire County Council but had become a victim of their spending cuts as it was running at such
            a loss and was shut down. After about a year of campaigning the Friends of Theatr Gwaun were able to lease the building and re-open the theatre
            under its new name.</p>

        <p>
            The welcome from the staff was extremely warm. We paid our £5 per ticket and bought some sweets (in boxes - sweets in cinemas should always be sold in boxes!).
            There was certainly a sense of pride amongst those working in the cinema; something we'd not expect in the local multiplex!
        </p>
        <blockquote>
            <p>"You almost feels as if you're doing them a favour by buying a ticket, but when you leave you'll feel like they've
                done you a favour."</p>
        </blockquote>

        <p>

            The actual theatre both looks and <i>feels</i> like a theatre. It's retained every bit of the local theatre charm, this only adds to the cinema
            experience. In fact, it needs to keep looking like a theatre because it <i>is</i> still a theatre. Regular plays, live shows and workshops are also
            hosted in the venue. Having the curtains open to reveal the screen at the start of the film was a wonderful touch.

        </p>

        <p>
            As an aside, Moonrise Kingdom was fantastic. It told a sweet, warm, stylish and inventive story and couldn't been more effective at raising our spirits during an
            especially soggy British summer.
        </p>
        <p>
            4U at Theatr Gwaun encapsulated much of what a quirky, independent cinema should be. The fact that it is held together by a driven, active community gives it an
            extra draw. You almost feels as if you're doing them a favour by buying a ticket, but when you leave you'll feel like they've done you a favour.
        </p>
        <address>
        <strong>4U at Theatr Gwaun,</strong> <br />
        West Street, <br />
        Fishguard <br />
        SA65 9AD <br />
        01348 873421
        </address>
        <address>
            <strong><a href="http://www.its4u.org.uk/" target="_blank">http://www.its4u.org.uk/</a></strong>
        </address>
    </div>
{% endblock %}